
a:active,
a:focus {
    outline: none;
}

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

.tutor_profile {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}
.left_part {
    flex: 0 0 150px;
    padding-right: 20px;
}

.left_part .img {
    padding-bottom: 120%;
    position: relative;
}
.left_part .img img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}

.right_part .name {
    font-size: 40px;
    color: #1976d2;
    margin-bottom: 15px;
}

.right_part .phone,
.right_part .email {
    font-size: 20px;
    margin-bottom: 10px;
    color: #b98c07;
}

.right_part ul{
    color: #3c3c3c;
    font-size: 20px;
    margin-bottom: 10px;
}


.right_part .city {
    font-size: 20px;
    color: #b98c07;
}
.right_part .city span {
    font-size: 20px;
}

.right_part .education_title {
    color: #1976d2;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 25px;
}

.right_part .education span{
    white-space: pre-line;
    list-style: none;
    font-style: italic;
    color: #3c3c3c;
    margin: 0;
    padding: 0;
}


.right_part .ed_item {
    padding-left: 15px;
    font-size: 14px;
    margin-bottom: 5px;
}

.right_part .info_title {
    color: #1976d2;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 25px;
}

.right_part .info{
    margin-bottom: 20px;
}

.right_part .info span {
    white-space: pre-line;
    font-style: italic;
    color: #3c3c3c;
    margin-bottom: 20px;
}

.right_part .price_per_hour {
    color: #1976d2;
    font-size: 20px;
}

.right_part .rating_title{
    color: #1976d2;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 25px;
}
.right_part .rating_text{

}
.right_part .price_per_hour span {
    font-size: 25px;
    font-weight: 500;
    color: #149124;
}
.right_part .controls {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 40px;
}
.right_part .controls .accept,
.right_part .controls .reject {
    flex: 0 1 150px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #4caf50;
    border-radius: 5px;
    font-size: 16px;
}
.right_part .controls .reject {
    background-color: #af4c4c;
}

.right_part .controls a{
    text-decoration: none;
}


.red-btn-form{
    margin-top: auto;
}
