body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/*--------------------------------------------------HEADER-----------------------------------------------------*/


.header__section {
    display: flex;
    align-items: center;
}

.header__section > a {
    color: black;
}


.header__section > a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav > a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav > a:hover {
    transform: scale(1.1);
}


/* Dropdown Button */
.dropbtn {
    background-color: #7fbcf3;
    display: flex;
    align-items: center;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #29a8b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}


header {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #7fbcf3;
    margin: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    position: fixed;
    top: 0;
    left: 0px;
    width: calc(100% - 20px);
    padding: 20px 10px;
}

body {
    padding-top: 126px;
}


/*-------------------------------------------------------MAIN---------------------------------------------------*/

.main__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.main__left_part {
    flex: 0 0 150px;
    margin-right: 20px;
}

.main__left_part .img {
    padding-bottom: 120%;
    position: relative;
}

.main__left_part .img img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}


.success-message {
    color: #4caf50;
}

.fail-message {
    color: #a80202;
}

.simple-btn {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #7fbcf3; /* фон кнопки */
    padding: .5em 1.5em; /* отступ от текста */
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #7fbcf3;
}

.simple-btn:hover {
    background: #fff;
    color: #7fbcf3;
    cursor: pointer
}

.simple-btn:active {
    background: #4c91f6;
}

.red-btn {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #c90000; /* фон кнопки */
    padding: .5em 1.5em; /* отступ от текста */
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #c90000;
}

.red-btn:hover {
    background: #fff;
    color: #c90000;
    cursor: pointer
}

.red-btn:active {
    background: #a80202;
}

.subject_checkbox {
    margin-top: 3px;
    margin-bottom: 3px;
}


.form_container {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.form_input_container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.left_part {
    flex: 0 0 250px;
    margin-right: 20px;
}

.form_container_registration_item {
    flex: 0 0 50px;
    margin-right: 20px;
}

.form_input_container._error .form_input {
    border: 1px solid #f00;
}

.form_input_container._bad-passwords .form_input {
    border: 1px solid #f00;
}

.form_input_container .validation-message {
    display: none;
}

.form_input_container .bad-passwords-message {
    display: none;
}

.form_input_container._error .validation-message {
    color: #f00;
    font-size: 10px;
    display: block;
}

.form_input_container._bad-passwords .bad-passwords-message {
    color: #f00;
    font-size: 10px;
    display: block;
}


.search-container {
    display: flex;
    flex-direction: column;


}

.search-block {
    margin: auto;
}

.main_table {
    border: 1px solid #dcdcdc;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    margin-top: 24px;
}

.table_info_header {
    display: flex;
    align-items: stretch;
}

.table_info_header .table_item {
    padding: 8px 13px;
    border-right: 1px solid #dcdcdc;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edf1fe;
    flex: 0 0 20%;
}

.table_item:nth-child(1) {
    flex: 0 0 80px;
}

.table_item:last-child {
    flex: 0 0 calc(16% - 80px);
    border-right: none;
}

.table_row {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #dcdcdc;
    color: #d8a200;
}

.table_row .table_item {
    padding: 13px 15px;
    font-size: 14px;
    line-height: 18px;
    color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dcdcdc;
    flex: 0 0 16.6%;
}

.table_row .table_item:nth-child(1) {
    flex: 0 0 80px;
}

.table_row .table_item:last-child {
    flex: 0 0 calc(16% - 80px);
    border-right: none;
}

.table_row .table_item {
    font-size: 20px;
}

.block_btn {
    transition: 0.2s;
    border: 1px solid #b00724;
    color: #b00724;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 7px;
}

.block_btn:hover {
    background: #b00724;
    color: #fff;
    border: 1px solid #b00724;
}

.unblock_btn {
    transition: 0.2s;
    border: 1px solid #149124;
    color: #149124;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 7px;
}

.unblock_btn:hover {
    background: #149124;
    color: #fff;
    border: 1px solid #149124;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    padding: 30px;
    flex: 1 1 auto;
}

.footer {
    font-size: 12px;
    color: rgba(147, 144, 144, 0.96);
    font-style: italic;
    text-align: center;
    padding: 12px;
    background-color: rgba(217, 217, 217, 0.96);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(182, 179, 179, 0.96);
}

.search-block {
    margin: 10px auto;
    max-width: 700px;
    display: flex;
    align-items: flex-start;
}

.sort-block {
    margin: 40px auto;
    max-width: 700px;
    display: flex;
    align-items: flex-start;
}

.tutor_container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: flex-start;
}

.tutor_left_part {
    flex: 0 0 150px;
}

.tutor_left_part .img {
    padding-bottom: 120%;
    position: relative;
}

.tutor_right_part {
    padding-left: 20px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
}

.tutor_right_part .tutor_name {
    font-size: 30px;
    color: rgba(36, 79, 234, 0.74);
}

.tutor_right_part .tutor_name:hover {
    color: rgba(5, 30, 131, 0.74);
    transform: scale(1.1);
}

.tutor_right_part .tutor_price {
    font-size: 15px;
    color: #149124;
}

.tutor_right_part .tutor_info {
    font-size: 15px;
    color: black;
    font-style: italic;
}

.comment-block{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
}

.comment-block textarea{
    resize: none;
}
.feedbacks-block{
    margin: 40px auto;
    max-width: 700px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.feedbacks-block__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.feedbacks-block__item__left{
    flex: 0 0 40px;
    padding-right: 10px;
}

.feedbacks-block__item__right .feedback-name {
    color: #023a6c;
    font-size: 20px;
}

.feedbacks-block__item__right textarea{
    resize: none;
}

.feedbacks-block__item__right .feedback-date{
    color: #777575;
    font-size: 10px;
}

.feedback-textarea textarea{
    font-style: italic;
    border: none;
    outline: none;
}

.search-block option {
    font-size: 15px;
}

.search-block select {
    font-size: 15px;
}

.search-block input[type='number'] {
    font-size: 15px;
}

.search-block .byn {
    font-size: 10px;
}

.pages-block {
    text-align: center;
}

.subjects-block {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.subjects-block_item{
    margin-bottom: 5px;
}

.subjects-block a{
    text-decoration: none;
    color: #a80202;
    padding: 2px 2px 2px 2px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #a80202;
}

.subjects-block a:hover{
    background-color: #a80202;
    color: white;
}

.applications__container{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.application__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.application__item__left{
    flex: 0 0 20px;
    padding-right: 10px;
}

.edit_profile_container{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.edit_profile_container_item    {
    margin-bottom: 20px;
}

.login-container{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}